---
import MainLayout from "../../layout/MainLayout.astro";
import SectionContainer from "../../components/SectionContainer.astro";
---

<MainLayout title="About me" description="I'm Jos Lee Villegas Pacheco">
  <SectionContainer>
    <div class="px-0 sm:px-20">
      <div class="mb-5">
        <span
          class="bg-green-400 py-1 px-4 rounded-xl text-green-900 border-2 border-green-800 font-bold text-sm"
          >Disponible para trabajar</span
        >
      </div>
      <h3 class="text-4xl font-bold text-gray-900 mt-5 mb-3">Quien soy?</h3>

      <section
        class="flex flex-col-reverse items-center justify-center md:flex-row gap-x-20 gap-y-10 mt-10 mb-20"
      >
        <div class="space-y-4 text-sm">
          <p class="text-xl font-semibold">
            Jos Lee Villegas Pacheco, diseñador UI y Web
          </p>
          <p class="">
            Desde pequeño me ha apasionado la forma en la cual las plataformas
            web o aplicaciones móviles sin necesidad de tener un manual de
            usuario la forma en la cual uno puede interactuar en ellas es simple
            e intuitivo.
          </p>
          <p>
            Durante mi etapa escolar y universitaria mis calificaciones eran
            buenas pero el motivo de estás era que pensaba en que pasaría si los
            trabajos que me dejaban por más responsable que sea tengan algo
            malo.
          </p>
          <p>
            Esto me llevaba a que tenga que explorar a profundidad posibles
            errores que surgan al momento de realizar cada actividad, lo cual me
            ayudó a ser detallista con las responsabilidades que tenga.
          </p>
        </div>
        <img
          class="rounded-full size-40 sm:size-52 mt-10 sm:mt-0"
          src="../josperfil.webp"
          width="100%"
          height="100%"
          alt="Imagen de Jos Villegas"
          title="Imagen de Jos Villegas"
        />
      </section>

      <section
        class="flex flex-col-reverse items-center justify-center md:flex-row gap-x-20 gap-y-10 mt-10 mb-20"
      >
        <img
          class="rounded-full size-40 sm:size-52 mt-10 sm:mt-0"
          src="../perfilcv.webp"
          alt="Imagen de Jos Villegas"
          title="Imagen de Jos Villegas"
        />
        <div class="space-y-4 text-sm">
          <p class="">
            Como profesional, me considero un perfeccionista, lo que me lleva a
            que siempre trata de verificar el más mínimo detalle y explorar
            otras formas de conseguir el trabajo a actividad a realizar.
          </p>
          <p>
            Todo esto me lleva a que mi enfoque de diseño este guiado por la
            actitud artistica, método científico, desorden creativo y obsesión
            por cada mínimo detalle.
          </p>
          <p>
            Cuando no estoy diseñando, me encuentro explorando mi creatividad a
            través de la música tocando la guitarra, libros que hablen sobre
            psicología o investigando cosas desconocidas que me llamen la
            atención.
          </p>
          <div>
            <a
              download
              class="inline-flex justify-center items-center rounded-lg bg-[#4e4e4e] p-2 text-white font-bold border border-white hover:bg-[#272727]"
              href="CV_JosLeeVillegasPacheco.pdf"
              title="Download CV Jos"
              aria-label="Download CV Jos">Descargar CV</a
            >
          </div>
        </div>
      </section>

      <h3 class="text-3xl font-bold text-gray-900 mt-8 mb-3">
        Set de habilidades
      </h3>
      <section
        class="flex flex-col items-start gap-x-60 sm:flex-row sm:items-center"
      >
        <ul class="list-disc ml-8 space-y-2">
          <li>UX Design</li>
          <li>UI Design</li>
        </ul>
        <ul class="list-disc ml-8 space-y-2 sm:mt-0 mt-2">
          <li>Wireframing</li>
          <li>Design Systems</li>
        </ul>
      </section>

      <h3 class="text-3xl font-bold text-gray-900 mt-8 mb-3">Herramientas</h3>
      <section
        class="flex flex-col items-start gap-x-60 sm:flex-row sm:items-center"
      >
        <ul class="list-disc ml-8 space-y-2">
          <li>Figma</li>
          <li>Adobe XD</li>
        </ul>
        <ul class="list-disc ml-8 space-y-2 sm:mt-0 mt-2">
          <li>Miro</li>
          <li>HTML y CSS</li>
        </ul>
      </section>
    </div>
  </SectionContainer>
</MainLayout>
