---
import MainLayout from "../../layout/MainLayout.astro";
import SectionContainer from "../../components/SectionContainer.astro";
---

<MainLayout title="Aboute me" description="I'm Jos Lee Villegas Pacheco">
  <SectionContainer>
    <div class="mb-5">
      <span
        class="bg-green-800 py-1 px-4 rounded-xl text-white border-2 border-green-950"
        >Available to work</span
      >
    </div>
    <section
      class="flex flex-col-reverse items-center justify-center md:flex-row gap-x-20 gap-y-10"
    >
      <div class="space-y-6">
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat saepe
          architecto minima aperiam consectetur, vitae distinctio aut qui earum
          repellat, laborum eius ducimus, rem nostrum quaerat maxime.
          Blanditiis, quis quod?
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora esse
          soluta ab nostrum odit eaque voluptates minima. Totam, nostrum. Iusto
          doloribus assumenda architecto reiciendis deserunt fuga quasi aut eius
          placeat.
        </p>
      </div>
      <img
        class="rounded-full"
        src="perfilcv.webp"
        alt="Imagen de Jos Villegas"
        title="Imagen de Jos Villegas"
      />
    </section>
  </SectionContainer>
</MainLayout>
