<footer class="mb-10">
  <div class="text-center flex flex-col space-y-6">
    <h4 class="text-white">Diseñado e implementado por</h4>
    <a
      href="https://cv-jos.vercel.app/"
      target="_blank"
      aria-label="Jos Villegas"
    >
      <img
        class="w-28 h-auto m-auto"
        src="../jvplogo.webp"
        alt="logo jvp"
        width="80"
        height="auto"
        title="Pulsa aquí para Visitar el sitio web de josvillegas"
      />
    </a>
  </div>
</footer>
