<footer class="my-20">
  <div class="text-center flex flex-col space-y-6">
    <h3 class="text-gray-900 font-bold text-lg">
      Diseniado y desarrollado por
    </h3>
    <a
      href="https://cv-jos.vercel.app/"
      target="_blank"
      aria-label="Jos Villegas"
      rel="noreferrer noopener"
    >
      <img
        class="w-20 h-auto m-auto sm:w-28"
        src="../logojvp.webp"
        alt="logo jvp"
        width="100%"
        height="100%"
        title="Pulsa aquí para Visitar el sitio web de josvillegas"
      />
    </a>
  </div>
</footer>
