---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url)
---

<>
  {
    Object.entries(languages).map(([langPrefix]) => {
        if(langPrefix == lang) return <></>
        return (<a class="font-bold text-base ml-10" href={`/${langPrefix}/`}>{langPrefix.toUpperCase()}</a>)
    })
  }
</ul>
