---
import { getLangFromUrl, getTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTranslations(lang);

const { currentLocale } = Astro;
---

<div class="flex items-center justify-center mt-12 bg-transparent">
  <header class="fixed z-10">
    <nav
      class="flex px-3 text-sm font-medium rounded-full text-black justify-center items-center"
    >
      <a
        class="relative block px-2 py-2 transition hover:text-gray-900 hover:underline"
        aria-label="hola"
        href={getRelativeLocaleUrl(currentLocale ?? "", "/")}
        rel="noreferrer noopener"
        title="hola"
      >
        {t("nav.home")}
      </a>
      <a
        class="relative block px-2 py-2 transition hover:text-gray-900 hover:underline"
        aria-label="hola"
        href={getRelativeLocaleUrl(currentLocale ?? "", "projects")}
        rel="noreferrer noopener"
        title="hola"
      >
        {t("nav.projects")}
      </a>
      <a
        class="relative block px-2 py-2 transition hover:text-gray-900 hover:underline"
        aria-label="hola"
        href={getRelativeLocaleUrl(currentLocale ?? "", "experiencia")}
        rel="noreferrer noopener"
        title="hola"
      >
        {t("nav.experiencia")}
      </a>
      <a
        class="relative block px-2 py-2 transition hover:text-gray-900 hover:underline"
        aria-label="hola"
        href={getRelativeLocaleUrl(currentLocale ?? "", "about")}
        rel="noreferrer noopener"
        title="hola"
      >
        {t("nav.about")}
      </a>
      <LanguagePicker />
    </nav>
  </header>
</div>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-black/40 ring-white/10 text-white no-underline;
    }
  }
</style>
