---
const navItems = [
  {
    title: "Home",
    label: "Redirigir a Home",
    url: "/",
  },
  {
    title: "Projects",
    label: "Redirigir a  work",
    url: "/projects",
  },
  {
    title: "Experience",
    label: "Redirigir a experience",
    url: "/experiencia",
  },
  {
    title: "About me",
    label: "Redirigir a about",
    url: "/about",
  },
];
---

<div class="flex items-center justify-center mt-12 bg-transparent">
  <header class="fixed z-10">
    <nav
      class="flex px-3 text-sm font-medium rounded-full text-black justify-center items-center"
    >
      {
        navItems.map((link) => (
          <a
            class="relative block px-2 py-2 transition hover:text-gray-900 hover:underline"
            aria-label={link.label}
            href={link.url}
            rel="noreferrer noopener"
            title={link.label}
          >
            {link.title}
          </a>
        ))
      }
    </nav>
  </header>
</div>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-black/40 ring-white/10 text-white no-underline;
    }
  }
</style>
