---
const navItems = [
  {
    title: "Work",
    label: "work",
    url: "/",
  },
  {
    title: "Experience",
    label: "experience",
    url: "experiencia",
  },
  {
    title: "About",
    label: "about",
    url: "about",
  },
];
---

<div class="flex items-center justify-center mt-12 bg-transparent">
  <header class="fixed z-10">
    <nav
      class="flex px-3 text-sm font-medium rounded-full text-black justify-center items-center"
    >
      {
        navItems.map((link) => (
          <a
            class="relative block px-2 py-2 transition hover:text-yellow-400"
            aria-label={link.label}
            href={link.url}
          >
            {link.title}
          </a>
        ))
      }
    </nav>
  </header>
</div>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-black/80 ring-white/10 text-white;
    }
  }
</style>
